/* Resets */

figure {
  margin: 0;
}


/* Links */
body {font-family: 'Oswald', sans-serif;
}



a {
  text-decoration: underline;
}

/* Captions */

figcaption {
  font-size: 90%;
}
body {
  max-width: 60rem;
  background-color: #e6ffe6;
  padding: 5%;
  margin: 0 auto;
